<div class="wow animated fadeIn" data-wow-delay=".15s">
  {%- if project_style == "european" -%}
  <a href="{{ project_url }}" class="project card cart-eu text-themed" {%- if external and site.open_new_tab -%} target="_blank" {%- endif -%}>
  {%- elsif project_style == "gnome" -%}
  <a href="{{ project_url }}" class="project card cart-gnome text-themed" {%- if external and site.open_new_tab -%} target="_blank" {%- endif -%}>
  {%- else -%}
  <a href="{{ project_url }}" class="project card text-themed" {%- if external and site.open_new_tab -%} target="_blank" {%- endif -%}>
  {%- endif -%}
    {%- if project_img -%}
      <img id="{{ project_id }}-img" class="project card-img-top" src="{{ project_img }}" alt="{{ project_name }}" />
    {%- endif -%}
    <div class="card-body">
      <h4 id="{{ project_id }}-name" class="card-title">
          {%- if project_type == "remote" -%}
          <i class="fab fa-github" data-toggle="tooltip" data-placement="bottom" data-delay="250" title="GitHub Repository"></i> |&nbsp;
          {%- endif -%}
       <strong> {{ project_name }} </strong>
      </h4>
      <p id="{{ project_id }}-desc" class="card-text">{{ project_desc }}</p>
      <p id="{{ project_id }}-keywords" class="card-text">
        {%- for keywords in project_keywords -%}
        <span class="badge badge-pill badge-keywords ml-1">
          {{ keywords }}
        </span>
        {%- endfor -%}
      </p>
      <p id="{{ project_id }}-tools" class="card-text">
        {%- for tool in project_tools -%}
        <span class="badge badge-pill badge-tools ml-1">
          {{ tool }}
        </span>
        {%- endfor -%}
      </p>
      {%- if project_grant_number and project_style == "european" -%}
      <div id="{{ project_id }}-year" class="card-text" style="text-align: right;">
        <small class="text-muted"> Grant agreement No {{ project_grant_number }} <img style='vertical-align:middle; height: 22px;' src='../img/EUflag.jpg'></small>
      </div>
      {%- endif -%}

      {%- if project_github_repo -%}
      {% for repository in site.github.public_repositories  %}
      {%- if repository.name == project_github_repo -%}
    <!-- {{ repository.name }} -->
    <!-- <div id="{{ project_id }}-repo" class="card-text" style="text-align: right;"> -->
        <div class="d-flex f3 align-self-baseline justify-content-end text-muted"  style="text-align: right;">
        <!-- <p id="{{ project_id }}-repo" > -->
          {% if repository.language %}
          <div class="ml-3" style="vertical-align: bottom; font-size: medium;">
              <!-- <span class="repo-language-color ml-0 mr-1"" style="background-color:{{ site.data.colors[repository.language]["color"] }}"></span> -->
              <span style="color: {{ site.data.colors[repository.language]['color'] }}">
              <svg class="svg-icon-fw"><use xlink:href="#icon-point"></use></svg>
            </span>
              <span itemprop="programmingLanguage"> {{ repository.language }}</span>
          </div>
          {% endif %}
          {% if repository.stargazers_count %}
          <div class="ml-3" >
          <span class="d-inline-block" style="vertical-align: bottom; font-size: medium;">
            <!-- <a href="{{ repository.html_url }}/stargazers" class="link-gray mr-4"> -->
              <svg class="octicon octicon-star svg-icon-fw"><use xlink:href="#icon-stars"></use></svg> {{ repository.stargazers_count }}
            <!-- </a> -->
          </span>
         </div>
          {% endif %}
          {% if repository.forks_count %}
          <div class="ml-3">
          <span class="d-inline-block" style="vertical-align: bottom; font-size: medium;">
            <!-- <a href="{{ repository.html_url }}/network/members"> -->
              <svg class="octicon octicon-git-branch svg-icon-fw"><use xlink:href="#icon-forks"></use></svg> {{ repository.forks_count }}
            <!-- </a> -->
          </span>
        </div>
          {% endif %}
        <!-- </p> -->
        <!-- </div> -->
      </div>
        {%- endif -%}
        {% endfor %}
      {%- endif -%}

    </div>
  </a>
</div>
