<head>

  {% assign title = page.title | default: site.title | escape %}
  {% assign description = page.description | default: site.description | strip_html | strip_newlines | truncate: 160 %}
  {% assign image = page.image | default: site.author.image %}

  {% if page.name and page.collection == 'projects' %}
    {% assign title = page.name | escape %}
  {% endif %}

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:image" content="{{ image }}">

  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">

  <link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/favicon.ico' | relative_url }}">
  <link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin>
  <link rel="preload" href="{{ '/assets/fonts/iosevka-term/woff2/SGr-IosevkaTerm-Regular.woff2' | relative_url }}" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ '/assets/fonts/montserrat/woff2/Montserrat-SemiBold.woff2' | relative_url }}" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ '/assets/lib/fontawesome/webfonts/fa-solid-900.woff2' | relative_url }}" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ '/assets/lib/fontawesome/webfonts/fa-brands-400.woff2' | relative_url }}" as="font" type="font/woff2" crossorigin>

  <!-- MATH -->
  {%- assign mathjax_enabled = false -%}
  {%- if page.mathjax == true -%}
    {%- assign mathjax_enabled = true -%}
  {%- elsif page.layout == 'articles_page' and page.mathjax != false -%}
    {%- assign math_articles = site.articles | where: 'mathjax', true -%}
    {%- if math_articles.size > 0 -%}
      {%- assign mathjax_enabled = true -%}
    {%- endif -%}
  {%- elsif site.mathjax.enabled == true and page.mathjax != false -%}
    {%- assign mathjax_enabled = true -%}
  {%- endif -%}
  {%- if mathjax_enabled == true -%}
    <script>
      window.MathJax = {
        tex: {
          inlineMath: [['$','$'], ['\\(','\\)']],
          displayMath: [['$$','$$'], ['\\[','\\]']],
          processEscapes: true
        },
        startup: {
          typeset: false
        }
      };
    </script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.2/es5/tex-chtml.min.js"></script>
    <script defer src="{{ '/assets/js/math.js' | relative_url }}"></script>
  {%- endif -%}


  <!-- Theme style -->
  <script defer src="{{ '/assets/js/theme.js' | relative_url }}"></script>
  <script defer src="{{ '/assets/js/down_arrow.js' | relative_url }}"></script>


  <!-- Font Awesome -->
  <link rel="preload" href="{{ '/assets/lib/fontawesome/css/all.min.css' | relative_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{ '/assets/lib/fontawesome/css/all.min.css' | relative_url }}"></noscript>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ '/assets/lib/bootstrap/css/bootstrap.min.css' | relative_url }}">

  <!-- Animate CSS CDN -->
  <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css"></noscript>

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/down_arrow.css' | relative_url }}">


</head>
