<div id="particles-js"></div>

<div class="header">
<!-- <div class="row justify-content-center align-items-center p-4"> -->
<!-- <div class="col-lg-4 col-md-6 text-center mt-4"> -->

<!-- Fine Circle Responsive Image -->
  <div id="container1" class="my-2">
  <!-- <div id="dummy"></div> -->
    <div id="element">
    <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image">

    

<!-- <div  id="container2" class="my-2">
<p class="text-muted wow animated slideInUp" data-wow-delay=".15s">{{ site.description }}</p>
</div> -->

<!-- </div> -->
<!-- </div> -->

</div>
</div>
<div id="container2" class="my-2">
  <p class="text-muted" style="text-align:center"><br>{{ site.description }}</p>
  {% include social.html %}
</div>
<a class="down" id="hideifsmall" href="#short" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>

<section id="short">
  {% include short.html %}
</section>