<div id="particles-js"></div>

<div class="header">
<!-- <div class="row justify-content-center align-items-center p-4"> -->
<!-- <div class="col-lg-4 col-md-6 text-center mt-4"> -->

<!-- Fine Circle Responsive Image -->
  <div id="container" class="my-2">
  <!-- <div id="dummy"></div> -->
    <div id="element">
    <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image" data-wow-delay=".2s">

    <p class="text-muted" data-wow-delay=".3s" style="text-align:center"><br>{{ site.description }}</p>
<!-- <div  id="container2" class="my-2">
<p class="text-muted wow animated slideInUp" data-wow-delay=".15s">{{ site.description }}</p>
</div> -->

<!-- </div> -->
<!-- </div> -->

<!-- <div class="header-links">
<a class="link" href="#about" data-scroll>About Me</a>
</div> -->
</div>
