
<div class="container justify-content-center align-items-center p-4">
    <div class="col-lg-5 col-md-7 col-sm-10 align-items-center center mt-4 ">
        <div class="short_title">
            <h1>
                Personal Info
            </h1>
        </div>
        <ul style="font-size: medium; text-align: left;" class="markdown-body list-unstyled">
            <!--  <li><span>Birthdate</span> : 09/13/1996</li>-->
                <li><span style="font-size: medium;"><i class="fas fa-passport fa-fw"></i> Nationality</span> : <a href="https://en.wikipedia.org/wiki/Italy">Italian</a></li>
                <li><span style="font-size: medium;"><i class="fas fa-envelope fa-fw"></i> Email</span> : <a href="mailto:paolo.deangelis@polito.it">paolo.deangelis@polito.it</a></li>
                <li><span style="font-size: medium;"><i class="fab fa-orcid fa-fw"></i> ORCID</span> : <a href="https://orcid.org/0000-0003-1866-2988" target="_blank"> 0000-0003-1866-2988</a></li>
                <li><span style="font-size: medium;"><svg class="svg-icon-fw"><use xlink:href="#icon-scopus"></use></svg> Scopus Author ID</span> : <a href="https://www.scopus.com/authid/detail.uri?authorId=57212316557" target="_blank">57212316557</a></li>
                <li><span style="font-size: medium;"><svg class="svg-icon-fw"><use xlink:href="#icon-scholar"></use></svg> Google Scholar ID</span> : <a href="https://scholar.google.com/citations?hl=en&user=jeSYLUUAAAAJ" target="_blank"> jeSYLUUAAAAJ</a></li>
                <li><span style="font-size: medium;"><i class="fas fa-map-marker-alt fa-fw"></i> Address</span> : <a href="https://goo.gl/maps/Nux8AYanY24eBziX6" target="_blank">
                    Politecnico di Torino, Corso Duca degli Abruzzi, 24, 10129 Torino TO, Italy
                </a></li>
            </ul>
        <div class="align-items-center short_title justify-content-center">
            <a class="m-1 btn btn-outline-info btn-md" href="docs/CV-Paolo_De_Angelis.pdf">
                <svg class="svg-icon-fw"><use xlink:href="#icon-download"></use></svg> Resume
            </a>
        </div>
    </div>


</div>
