
<div class="container justify-content-center align-items-center p-4">
    <!-- <div class="col-lg-8 col-md-10 text-center mt-4"> -->
        <div class="text-center mt-4">
            <div class="short_title">
                <h1>
                    In short
                </h1>
            </div>
            <blockquote>
                <p class="quotation"> 
                    Considerate la vostra semenza: <br>
                    fatti non foste a viver come bruti, <br>
                    ma per seguir virtute e canoscenza.
                </p>
              <footer>— Dante Aligihieri (Inferno, Canto XXVI)</footer>
            </blockquote> 
            <p align="justify">
            My passion for the <strong><em>Beauty</em></strong> is the driving force behind my work. As Dante wrote in Canto XXVI of his Inferno, <i>"Consider your origin: \ you were not made to live as brutes, \ but to follow virtue and knowledge."</i> 
            I believe this to be true in all aspects of life. 
            I constantly seek to understand and appreciate the Beautiful in everything around me, from the physical world of atoms, materials, and all the phenomena to the complexity of the human experience.
            </p>
            <p align="justify">
            Through my work, I strive to understand the intricacies of the natural world using the powerful lens of mathematical models, from the discrete atomistic scale to the continuous one. As I delve deeper into these models, I am continually awed by the intricate elegance and awe-inspiring complexity of our world. 
            But I do not stop there.
            I also explore the emotional impact of color, light, and shape of matters through the mediums of drawing and painting, deepening the comprehension of what I see and feel, allowing me to appreciate the power of beauty that moves and inspires us.
            </p>
            <p align="justify">
            My approach to seeking the <strong><em>Beautiful</em></strong> has the side effect of keeping both hemispheres of my brain active at all times, allowing me to engage with the world from a unique perspective that combines analytical rigor with creative intuition. 
            <br>
            At least, that is my idea and hope.
            </p>
            
            
        <div class="col-lg-10 col-md-11 align-items-center text-center mt-4 center">
            {% 
                include elements/figure_noround.html image="img/short_image.png" 
                caption="This is a snapshot of the work resulting from my passions. On the left you can see our cover of the scientific journal esteemed scientific journal ACS Omega, featuring our published research (https://doi.org/10.1021/acsomega.2c05218) on polymer adsorption on gold nanoparticles. On the right I have shared one of my paintings (acrylic on canvas), where I tried to use vibrant tones of purple, blue, and yellow to represent a model with a closed-in, introspective posture." 
            %}
        </div>
    </div>

</div>