.project.card {
  border-radius: $rounded-borders;
  text-decoration: none !important;
  margin: 10px auto;

  .card-img-top {
    border-radius: $rounded-borders $rounded-borders 0 0;
    // height: 100%;
    max-height: 350px;
    object-fit: cover;
  }

  .badge-keywords {
    color: #6ECCAF;
    border-color: #6ECCAF;
    border: 1px solid #6ECCAF;
  }

  .badge-tools {
    color: #eb471a;
    border-color: #eb471a;
    border: 1px solid #eb471a;
  }

  transition: transform 400ms;

  &:hover:not(.post) {
    transform: translateY(-8px);
    box-shadow: -2px 8px 40px -12px rgba(0, 0, 0, 0.24);
  }
}

.project.cart-eu .card-img-top {
  border-top-left-radius: calc(#{$rounded-borders} - 4px);
  border-top-right-radius: calc(#{$rounded-borders} - 4px);
  max-height: 350px;
  object-fit: cover;
}


[data-theme="dark"] {
  .project.cart-eu{
    // color: #002066;
    border-radius: calc($rounded-borders + 4px);
    border-color: #002066;
    border-width: 4px;
    background-color: #002066aa !important;
  }
  }

  [data-theme="light"] {
    .project.cart-eu{
    // color: #395fb2;
    border-radius: calc($rounded-borders + 4px);
    border-color: #00309a;
    border-width: 4px;
    background-color: #00309a11 !important;
    }
  }


  .project.cart-gnome .card-img-top {
    border-top-left-radius: calc(#{$rounded-borders} - 2px);
    border-top-right-radius: calc(#{$rounded-borders} - 2px);
    max-height: 350px;
    object-fit: cover;
  }




[data-theme="dark"] {
  .project.cart-gnome{
    // color: #002066;
    // border-radius: calc($rounded-borders - 0px);
    border-color: #64c4d3;
    border-width: 2px;
    background-color: #64c4d330 !important;
  }
  }

  [data-theme="light"] {
    .project.cart-gnome{
    // color: #395fb2;
    // border-radius: calc($rounded-borders - 0px);
    border-color: #64c4d3;
    border-width: 2px;
    background-color: #64c4d311 !important;
    }
  }

// If a user adds a custom font, this component will stop it from bleeding into GitHub components:
.github-component {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol !important;
}

.repo-language-color {
    filter: brightness(125%) !important;
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    position: relative;
    top: 2px;
    width: 12px;
}

.emoji {
  width: 18px;
  height: auto;
  vertical-align: middle;
}
