$primary:   #6ECCAF;
$secondary: #6c757d;
$success:   #4da970;
$info:      #47c3b4;
$warning:   #f5ce59;
$danger:    #E96479;
$light:     #EEEEEE;
$dark:      #343a40;

$text-black: #343a40;
$text-white: rgba(white, .9);

$rounded-borders: 15px;
